<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Service Dashboard - Code Sample from johnbrunswick.com</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->

        <script src="//www.google.com/jsapi"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/js/jquery.timeago.js"></script>

        <script>
          // change for your environment
          var socket = io.connect("192.168.1.100", {port: 3001});   

          socket.on("servicedata", function(message) {
            
            // show response object in console
            console.log("sfdc response: ", message);

            // clean up and set values for some display areas
            $('#accountname').text("");
            $('#caseitems').html("");
            $('#accountname').text('Account: ' + message.Name);

            var responseparse = 0;

            // itterate through each object in salesforce.com response
            $.each(message.Cases.records, function(i, item) {

            var items = [];
            responseparse += 1;

            // display individual case item in console
            console.log(item);
                    
            var chattermarkup = '';

            $.getJSON( "/casefeed/"+item.Id, function( chatterdata ) {

              $.each( chatterdata.records, function( key, val ) {
                console.log(val.Body);
                if (val.Body != null)
                {
                    var commentDate = new Date(val.CreatedDate);
                    chattermarkup = chattermarkup + '<a href="#" class="list-group-item"><span class="badge">' + $.timeago(commentDate) + '</span><i class="fa fa-comment"></i>'+ val.Body + '</a>'
                }
              });
            }).done(function() {
              items.push('<div class="alert alert-success alert-dismissable"><h3>Case #' + item.CaseNumber + ' - ' + item.Subject + '</h3><div class="casedetails">' + item.Subject + ' ' + item.Description + '</div><div class="list-group">' + chattermarkup + '</div></div>');

                if(responseparse == message.Cases.records.length) {
                  $('#caseitems').append( items.join('') );
                }
            })
            .fail(function() {
              console.log( "error" );
            })
            .always(function() {
              console.log( "complete" );
            });
            
          });

          $("#waiting").fadeOut("fast", function(){
            $("#accountheader").fadeIn("fast", function(){
              $("#casebox").fadeIn("fast");
            });
          });

        }); 
      </script>
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Force.com WebSocket - Service Dashboard Example</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="#"><i class="fa fa-flash"></i> Support</a></li>
            <li><a href="#"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
            <li><a href="#"><i class="fa fa-info-circle"></i> Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="http://twitter.com/johnbrunswick" ><i class="fa fa-twitter"></i> Follow for Updates </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1>Service Dashboard</h1>
            <ol class="breadcrumb" id="waiting">
              <li class="active"><i class="fa fa-cog fa-spin"></i> Waiting on Customer Data...</li>
            </ol>

            <div id="accountheader" style="display:none;">
                <h3><span id="accountname"></span></h3>
            </div>

            <div style="display:none;" id="casebox">
              <div id="caseitems"></div>
            </div>            
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <!-- JavaScript -->
  </body>
</html>